html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
}

hr {
    max-width: 50px;
    border: 1px solid #222;
}

hr.light {
    border-color: #fff;
}

a {
    color: #222;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro','Helvetica Neue', Arial, sans-serif;
}

h2 {
  font-size: 46px;
  font-weight: 200;
  color: #555;
  margin-bottom: 40px;
}

p, span {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Source Sans Pro','Helvetica Neue', Arial, sans-serif;
    font-weight: 200;
}

button {
  font-family: 'Source Sans Pro','Helvetica Neue', Arial, sans-serif;
}

iframe html {
    font-family: 'Source Sans Pro','Helvetica Neue', Arial, sans-serif;
}

.modal-dialog {
    width: 390px;
}

.bg-primary {
    background-color: #222;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.bg-gray {
  background-color: #eee;
}

.bg-gray-bright {
  background-color: #f9f9f9;
}

.bg-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section .container{
    padding: 50px 0 30px 0;
}

section .container-fluid{
    padding: 50px 0 30px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Source Sans Pro','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Source Sans Pro','Helvetica Neue',Arial,sans-serif;
    font-weight: 600;
    color: #222;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #222;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #222;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #222!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: transparent;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
      color: #888;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
      color: #222;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #888;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #222;
    }
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../img/header.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner .header-title {
    font-weight: 200;
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 40px;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 45%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
    }

    header .header-content .header-content-inner .header-title {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
    }
}

.section-heading {
    margin-top: 0;
}

.img-bg-bottom {
  margin-top: 40px;
}

.img-icon-box {
  text-align: center;
  margin-bottom: 40px;
}

.img-icon-box img {
  display: inline-block;
  width: 10%;
  height: 10%;
  margin: 0 1%;
}

@media(min-width:996px) {
  .img-icon-box img {
    width: 7%;
    height: 7%;
  }
}
.img-sponsors {
  margin-top: 40px;
}

.img-bg-box {
  position: relative;
}

.img-bg-box .img-bg-caption {
  display: block;
  text-align: center;
  background-color: #f9f9f9;
  padding-top: 50px;
}

@media(min-width:768px) {

  .img-bg-box .img-bg-caption {
    display: block;
    position: absolute;
    height: 55%;
    overflow: auto;
    margin: auto;
    left: 0; bottom: 0; right: 0;
    text-align: center;
    background-color: transparent;
    padding-top: 0;
  }
}

.side-margin {
  margin: 0 auto;
}

.member-box {
    margin: 30px auto 0;
    max-width: 240px;
}

.member-box div {
  margin: 20px 0 15px 0;
}

.member-box span {
  font-weight: 300 !important;
}

.member-box-role {
  float: right;
  color: #888;
}

.member-box p {
  font-size: 15px !important;
  margin-bottom: 0;
  min-height: 200px;
}

@media(min-width:768px) {

    .side-margin {
      margin: 0 100px 0 100px;
    }

    .member-box {
        margin: 20px auto 0;
    }
    .member-box p {
      min-height: 300px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #222;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn {
    border-radius: 300px;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}
